@charset "utf-8";


body {
   background: #00CC9F;

}

.navbar{
   color: black;
   background: #00CC9F;
   border-bottom:#00CC9F;
   
}

.navbar a{
  color:black;
}

footer{
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
    color: Grey;
}

.odais{
    width:500px;
    height:500px;
}


.odai_show{
   width:800px;
   height:650px;
}
