@charset "utf-8";


body {
   background: #00CC9F;

}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:#f55555;
    text-decoration:none;
}

a:active{
    color:#f55555;
}



.navbar{
   color: black;
   background: #00CC9F;
   border-bottom:#00CC9F;
   
}

.navbar a{
  color:black;
}

footer{
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
    color: Grey;

}

.odais{
    width:500px;
    height:500px;
}


.odai_show{
    margin-bottom:30px;
   width:600px;
   height:600px;
}

.square{
    width:400px;
    height:400px;
    
}

.sidenav {
    width: 250px;
    height: 380px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: rgba(255,255,255,0.8);
    overflow-x: hidden;
    padding: 8px 0;
    list-style:none;
    margin-left: 40px;
    border-radius: 50px;
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration:none;
    font-size: 30px;
    color: #2196F3;
    display: block;
    text-align: center;
    margin-top: 15px;
    
}

.sidenav a:hover {
    color: #064579;
}

h2{
    font-size:90px;
    text-align: center;
    color:#F55555;
    margin-right: 40px;
    text-decoration: none;
    
}

.salmonpink{
    color:#F55555;
}

.salmonpink:hover{
    color:#F55555;
    text-decoration:none;
}

.salmonpink:active{
    color:#F55555;
}




.wf-nicomoji { font-family: "Nico Moji"; }

.navbar {
    z-index: 1;
    top: 20px;
    left: 10px;
    background: rgba(255,255,255,0.8);
    overflow-x: hidden;
    padding: 8px 0;
    list-style:none;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border-radius: 50px;
    
}

.navbar a {
    padding-left: 70px;
    text-decoration:none;
    font-size: 30px;
    color: #2196F3;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    float: left;
}

.navbar a:hover {
    color: #064579;
}
